@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Terminal";
  src: url("/fonts/TerminalGrotesque/TerminalGrotesque.ttf") format("truetype");
}

@font-face {
  font-family: "Alarm";
  src: url("/public/fonts/AlarmClock/AlarmClock.ttf") format("truetype");
}
@font-face {
  font-family: "Karrik";
  src: url("/public/fonts/karrik/fonts/Web/TFF/Karrik-Regular.ttf")
    format("truetype");
}

.font-terminal-uppercase {
  @apply font-terminal;
  text-transform: uppercase;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0.25px;
}

.font-alarmclock-uppercase {
  @apply font-alarm;
  text-transform: uppercase;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0.25px;
}

.font-karrik-normal {
  @apply font-karrik;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0.25px;
}
