---
import BaseLayout from "~/layouts/baseLayout.astro";

import Header from "~/components/header.astro";
import NotFound from "~/components/notFound.astro";
---

<BaseLayout>
  <div class="bg-black">
    <Header sticky={true} />
  </div>
  <NotFound />
</BaseLayout>
