---
import "@fontsource-variable/inter";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Hackathon BugsByte</title>

    <!-- social media -->
    <meta property="og:title" content="Hackathon BugsByte" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

  </head>
  <body class="h-screen overflow-x-hidden bg-black text-default text-base selection:bg-secondary selection:text-white">
    <Header />
    <Splash />
    <!-- TODO: add the rest of features -->
    <!-- <div class="space-y-24 px-8 py-32"> -->
    <!--   <Intro /> -->
    <!--   <Features /> -->
    <!--   <Compatibility /> -->
    <!--   <Showcase /> -->
    <!-- </div> -->
    <!-- <Footer /> -->
  </body>
</html>
