---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="w-full max-w-xl lg:max-w-6xl flex flex-col items-start gap-4">
    <slot name="eyebrow" />
    <h2
      class="text-primary text-left text-white font-extrabold text-6xl tracking-wide"
    >
      {title}
    </h2>
  </div>
  {
    Astro.slots["lead-center"] ? (
      <p class="w-full max-w-xl lg:max-w-6xl text-center text-2xl uppercase">
        <slot name="lead-center" />
      </p>
    ) : (
      <p class="w-full max-w-xl lg:max-w-6xl text-justify text-2xl uppercase">
        <slot name="lead" />
      </p>
    )
  }

  <slot />
</section>
