---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";
import { Image } from "astro:assets";

import background from "/public/footer-background.png";

const links: Array<FooterLink> = [
  {
    url: "mailto:geral@bugsbyte.org",
    description: "BugsByte email",
    icon: "mdi:email",
  },
  {
    url: "https://www.instagram.com/bugs.byte/",
    description: "BugsByte on Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer class="relative flex h-48 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-60">
    <Image
      class="h-full w-full object-cover opacity-40"
      src={background}
      alt="background"
    />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-2">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
