---
import TextInput from "~/components/forms/textInput.astro"
import NumberInput from "~/components/forms/numberInput.astro"
import Selector from "~/components/forms/selector.astro"
import Checkbox from "~/components/forms/checkbox.astro"
import { register } from "../lib/data";

const options: Array<String> = [
  "Universidade do Minho",
  "Universidade do Porto"
];

// document.addEventListener("DOMContentLoaded", function () {
//   const submitForm = document.getElementById("submitForm");
//   if (submitForm) {
//     submitForm.addEventListener("submit", async function (e) {
//       e.preventDefault();
//       const name = document.getElementById("name");
//       const email = document.getElementById("email");

//       if (!name || !email) {
//         return;
//       } else {
//         const value = await register(name, email);
//       }
//     });
//   } else {
//   }
// });

---

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-3xl">
    
    <form class="mt-36 mb-36">

        <div>
          <div class="mb-10">
            <h2 class="font-semibold tracking-wide text-3xl leading-7 text-white">Personal Information</h2>
            <p class="mt-1 max-w-2xl text-xl leading-6 text-white">Use a permanent address where you can receive mail.</p>
          </div>

            <form class="max-w-sm mx-auto">

              <div class="mb-5">
                <TextInput title="Full name" placeholder="John Doe" />
              </div>
              <div class="mb-5">
                <TextInput title="Your email" placeholder="your-email@bugsbyte.org" />
              </div>
              <div class="mb-5">
                <TextInput title="Phone number" placeholder="927 357 457" />
              </div>
              <div class="mb-5">
                <NumberInput title="Age" placeholder="18+" />
              </div>
              <div class="mb-5">
                <Selector title="Higher institution" options={options} />
              </div>
              <div class="mb-5">
                <TextInput title="Course" placeholder="Engenharia Informática" />
              </div>

              <button type="submit" class="text-white bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
