---
const { source } = Astro.props;
---

<div class="group aspect-video hover:!text-default">
  <figure class="relative h-full w-full overflow-hidden">
    <img
      class="h-full w-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-focus:scale-110 group-focus:opacity-20"
      src={source}
      alt=""
    />
  </figure>
</div>
