---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="What is it?" id="intro">
  <Fragment slot="lead" class="tracking-wide">
    FOR <span class="text-primary">48 HOURS</span>, OVER <span
      class="text-primary">THREE DAYS</span
    >, PARTICIPANTS WILL WORK AS TEAMS TO CREATE A <span class="text-primary"
      >TECH PROJECT</span
    > CENTRED AROUND AN ENTREPRENEURIAL AND IMPACTFUL SOLUTION THAT TACKLES ONE OF
    THE PROPOSED CHALLENGES.
  </Fragment>

  <div
    class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-xl leading-7 text-justify lg:max-w-6xl lg:grid-cols-2"
  >
    <div>
      <p>
        THIS COMPETITION NOT ONLY SEEKS TO ENHANCE THE TECHNICAL SKILLS AND
        EXPERTISE OF ITS PARTICIPANTS, BUT ALSO TO HONE A VARIETY OF SOFT SKILLS
        AND OTHER ABILITIES THAT ARE CRUCIAL TO THE COMPLETION OF A SUCCESSFUL
        PROJECT - TEAMWORK, COMMUNICATION, TIME MANAGEMENT, CREATIVITY AND
        CRITICAL THINKING.
      </p>
    </div>
    <div>
      <p>
        AN ENVIRONMENT OF ACTIVE LEARNING, MENTORING AND NETWORKING WILL BE
        FOSTERED, GIVING ALL PARTICIPANTS THE OPPORTUNITY TO MAKE THE NEXT MOVE
        IN THEIR PROFESSIONAL AND ACADEMIC CAREERS.
      </p>
    </div>
  </div>
</ContentSection>
