---
import ContentSection from "~/components/contentSection.astro";
---

<ContentSection title="What is it?" id="intro">
  <Fragment slot="lead">
    For <span class="text-primary">48 hours</span>, over <span
      class="text-primary">three days</span
    >, participants will work as teams to create a <span class="text-primary"
      >tech project</span
    > centred around an entrepreneurial and impactful solution that tackles one of
    the proposed challenges.
  </Fragment>

  <div
    class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-xl leading-7 text-justify lg:max-w-6xl lg:grid-cols-2 uppercase"
  >
    <div>
      <p>
        This competition not only seeks to enhance the technical skills and
        Expertise of its participants, but also to hone a variety of soft skills
        And other abilities that are crucial to the completion of a successful
        Project - teamwork, communication, time management, creativity and
        Critical thinking.
      </p>
    </div>
    <div>
      <p>
        An environment of active learning, mentoring and networking will be
        Fostered, giving all participants the opportunity to make the next move
        In their professional and academic careers.
      </p>
    </div>
  </div>

  <div
    class="w-full max-w-xl lg:max-w-6xl text-left text-xl tracking-wide uppercase"
  >
    <p>The second edition will be happening from</p>
    <p class="text-4xl text-primary">
      5<span class="text-2xl">TH</span> TO 7<span class="text-2xl">TH</span> APRIL
      2024
    </p>

    <p class="mt-10">Where is happening</p>
    <p class="text-4xl text-primary">Altice Forum Braga</p>
    <div></div>
  </div>
</ContentSection>
