---
import ContentSection from "~/components/contentSection.astro";
---

<ContentSection title="What is it?" id="intro">
  <Fragment slot="lead">
    The <span class="text-primary"> BugsByte Hackathon</span>
    is a non-stop competitive programming event that aims to foster collaboration
    and fun among its participants while providing them with closer contact with
    attending companies. The event lasts approximately <span
      class="text-primary"
    >
      48 hours</span
    >, during which each team develops a project based on <span
      class="text-primary"
    >
      themes proposed by the sponsoring companies</span
    >. At the end of the event, the best projects are rewarded with<span
      class="text-primary"
    >
      monetary prizes</span
    >.
  </Fragment>

  <div
    class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-xl leading-7 text-justify lg:max-w-6xl lg:grid-cols-2 uppercase"
  >
    <div>
      <p>
        This competition aims to not only sharpen participants' technical
        expertise but also cultivate<span class="text-primary">
          essential soft skills
        </span>that drive project success. Through teamwork, time management,
        communication, creativity, and critical thinking, participants will
        develop a well-rounded skill set crucial for achieving a successful
        project.
      </p>
    </div>
    <div>
      <p>
        An environment of active learning, mentorship, and networking will be
        nurtured, providing all participants with the opportunity to take the
        next step in their professional and academic journeys—all while enjoying
        the experience.
      </p>
    </div>
  </div>

  <div
    class="w-full max-w-xl lg:max-w-6xl text-left text-xl tracking-wide uppercase"
  >
    <p>The third edition will be happening from</p>
    <p class="text-4xl text-primary uppercase">
      28<span class="text-2xl">th</span> to 30<span class="text-2xl">th</span> march
      2025
    </p>

    <p class="mt-10">Where is happening</p>
    <p class="text-4xl text-primary">Altice Forum Braga</p>
    <div></div>
  </div>
</ContentSection>
