---
import ContentSection from "~/components/contentSection.astro";
import SquigglyAnimation from "./squigglyAnimation.astro";
import { Image } from "astro:assets";
import background from "/public/footer-background.png";
---

<div class="absolute overflow-hidden opacity-50 select-none">
  <Image
    class="h-full w-full object-cover opacity-40 hidden sm:block"
    src={background}
    alt="background"
  />
</div>
<div class="w-full mt-52 pb-8 px-4 text-center overflow-hidden relative">
  <div class="relative">
    <h2 class="text-9xl animate-squiggle">404</h2>
    <p class="uppercase mt-2 text-2xl">
      We can't seem to find the page you're looking for
    </p>
    <div class="mt-12 select-none">
      <a
        href="/"
        class="ring-1 rounded-full text-base ring-white px-4 py-3 transition-all hover:cursor-pointer hover:ring-secondary"
      >
        Return to home page
      </a>
    </div>
  </div>
</div>
<SquigglyAnimation />
