---
import ContentSection from "~/components/contentSection.astro";
import ShowcaseCard from "~/components/showcaseCard.astro";
import gallery from "~/data/gallery.json"
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    Checkout last year's event:
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {gallery.map((img) => <ShowcaseCard source={img} />)}
    </div>
  </div>
</ContentSection>
