<div class="hidden">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="squiggly-0">
        <feTurbulence
          id="turbulence"
          baseFrequency="0.01"
          numOctaves="3"
          result="noise"
          seed="0"></feTurbulence>
        <feDisplacementMap
          id="displacement"
          in="SourceGraphic"
          in2="noise"
          scale="6"></feDisplacementMap>
      </filter>
      <filter id="squiggly-1">
        <feTurbulence
          id="turbulence"
          baseFrequency="0.01"
          numOctaves="3"
          result="noise"
          seed="1"></feTurbulence>
        <feDisplacementMap in="SourceGraphic" in2="noise" scale="8"
        ></feDisplacementMap>
      </filter>
      <filter id="squiggly-2">
        <feTurbulence
          id="turbulence"
          baseFrequency="0.01"
          numOctaves="3"
          result="noise"
          seed="2"></feTurbulence>
        <feDisplacementMap in="SourceGraphic" in2="noise" scale="6"
        ></feDisplacementMap>
      </filter>
      <filter id="squiggly-3">
        <feTurbulence
          id="turbulence"
          baseFrequency="0.01"
          numOctaves="3"
          result="noise"
          seed="3"></feTurbulence>
        <feDisplacementMap in="SourceGraphic" in2="noise" scale="8"
        ></feDisplacementMap>
      </filter>

      <filter id="squiggly-4">
        <feTurbulence
          id="turbulence"
          baseFrequency="0.01"
          numOctaves="3"
          result="noise"
          seed="4"></feTurbulence>
        <feDisplacementMap in="SourceGraphic" in2="noise" scale="6"
        ></feDisplacementMap>
      </filter>
    </defs>
  </svg>
</div>
