<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aring</string>
      <string>Adieresis</string>
      <string>Aringacute</string>
      <string>Aacute</string>
      <string>Amacron</string>
      <string>Agrave</string>
      <string>Atilde</string>
      <string>Acircumflex</string>
      <string>Aogonek</string>
      <string>Abreve</string>
    </array>
    <key>public.kern1.A.three</key>
    <array/>
    <key>public.kern1.A.two</key>
    <array/>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cdotaccent</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccircumflex</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.C.three</key>
    <array/>
    <key>public.kern1.C.two</key>
    <array/>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>Ecaron</string>
      <string>Egrave</string>
      <string>Eogonek</string>
      <string>E</string>
      <string>Ecircumflex</string>
      <string>Ebreve</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Eacute</string>
      <string>Edotaccent</string>
    </array>
    <key>public.kern1.E.three</key>
    <array/>
    <key>public.kern1.E.two</key>
    <array/>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>Gdotaccent</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>G</string>
    </array>
    <key>public.kern1.I.two</key>
    <array/>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>IJ</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>Kcommaaccent</string>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>fl.cap</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.L.THREE</key>
    <array/>
    <key>public.kern1.L.two</key>
    <array/>
    <key>public.kern1.O</key>
    <array>
      <string>Omacron</string>
      <string>Odieresis</string>
      <string>Ohungarumlaut</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>O</string>
      <string>Q</string>
      <string>Oacute</string>
      <string>Ograve</string>
      <string>Schwa</string>
      <string>Otilde</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>Racute</string>
      <string>Rcommaaccent</string>
      <string>Rcaron</string>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>germandbls.cap</string>
      <string>uni0218</string>
      <string>Scircumflex</string>
      <string>Scedilla</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
    </array>
    <key>public.kern1.S.two</key>
    <array/>
    <key>public.kern1.T</key>
    <array>
      <string>Tbar</string>
      <string>uni0162</string>
      <string>T</string>
      <string>uni021A</string>
      <string>Tcaron</string>
    </array>
    <key>public.kern1.T.TWO</key>
    <array/>
    <key>public.kern1.U</key>
    <array>
      <string>Utilde</string>
      <string>Uogonek</string>
      <string>Ucircumflex</string>
      <string>Uring</string>
      <string>Ubreve</string>
      <string>Umacron</string>
      <string>Uacute</string>
      <string>U</string>
      <string>Udieresis</string>
      <string>Uhungarumlaut</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>Wgrave</string>
      <string>Wcircumflex</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Yacute</string>
      <string>Y</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zacute</string>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aring</string>
      <string>adieresis</string>
      <string>aringacute</string>
      <string>aacute</string>
      <string>amacron</string>
      <string>agrave</string>
      <string>atilde</string>
      <string>acircumflex</string>
      <string>aogonek</string>
      <string>abreve</string>
    </array>
    <key>public.kern1.caron</key>
    <array>
      <string>lcaron</string>
      <string>dcaron</string>
    </array>
    <key>public.kern1.guillement_close</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.guillement_close_cap</key>
    <array>
      <string>guillemotright.cap</string>
      <string>guilsinglright.cap</string>
    </array>
    <key>public.kern1.guillemet_open</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemotleft</string>
    </array>
    <key>public.kern1.guillemet_open_cap</key>
    <array>
      <string>guilsinglleft.cap</string>
      <string>guillemotleft.cap</string>
    </array>
    <key>public.kern1.hypenCap</key>
    <array>
      <string>hyphen.cap</string>
      <string>endash.cap</string>
      <string>emdash.cap</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>nacute</string>
      <string>eng</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>hcircumflex</string>
      <string>ncaron</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>ellipsis</string>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.quoteLeft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteRight</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quote_base</key>
    <array>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>racute</string>
      <string>r</string>
      <string>rcaron</string>
    </array>
    <key>public.kern1.rondes_bdc</key>
    <array>
      <string>cdotaccent</string>
      <string>ograve</string>
      <string>ocircumflex</string>
      <string>edieresis</string>
      <string>obreve</string>
      <string>ccedilla</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>eogonek</string>
      <string>otilde</string>
      <string>ccaron</string>
      <string>cacute</string>
      <string>ecircumflex</string>
      <string>odieresis</string>
      <string>ohungarumlaut</string>
      <string>ebreve</string>
      <string>omacron</string>
      <string>emacron</string>
      <string>ccircumflex</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>c</string>
      <string>b</string>
      <string>e</string>
      <string>oe</string>
      <string>o</string>
      <string>p</string>
      <string>thorn</string>
      <string>oacute</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>uni0219</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>uni0163</string>
      <string>tcaron</string>
      <string>t</string>
      <string>uni021B</string>
      <string>tbar</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>wgrave</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>w</string>
      <string>wacute</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>yacute</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>zacute</string>
      <string>z</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aring</string>
      <string>Adieresis</string>
      <string>Aringacute</string>
      <string>Aacute</string>
      <string>Amacron</string>
      <string>Agrave</string>
      <string>Atilde</string>
      <string>Acircumflex</string>
      <string>Aogonek</string>
      <string>Abreve</string>
    </array>
    <key>public.kern2.A.two</key>
    <array/>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.J.three</key>
    <array/>
    <key>public.kern2.O</key>
    <array>
      <string>Ccaron</string>
      <string>Ocircumflex</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gbreve</string>
      <string>Schwa</string>
      <string>Odieresis</string>
      <string>Ohungarumlaut</string>
      <string>Cacute</string>
      <string>Q</string>
      <string>Ccircumflex</string>
      <string>Oacute</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Cdotaccent</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>Obreve</string>
      <string>Ccedilla</string>
      <string>OE</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>germandbls.cap</string>
      <string>uni0218</string>
      <string>Scircumflex</string>
      <string>Scedilla</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>uni0162</string>
      <string>T</string>
      <string>uni021A</string>
      <string>Tcaron</string>
    </array>
    <key>public.kern2.T.TWO</key>
    <array/>
    <key>public.kern2.U</key>
    <array>
      <string>Utilde</string>
      <string>Uogonek</string>
      <string>Ucircumflex</string>
      <string>Uring</string>
      <string>Ubreve</string>
      <string>Umacron</string>
      <string>Uacute</string>
      <string>U</string>
      <string>Udieresis</string>
      <string>Uhungarumlaut</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>Wgrave</string>
      <string>Wcircumflex</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Yacute</string>
      <string>Y</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zacute</string>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aring</string>
      <string>ae</string>
      <string>aringacute</string>
      <string>aacute</string>
      <string>aeacute</string>
      <string>amacron</string>
      <string>agrave</string>
      <string>atilde</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>aogonek</string>
      <string>abreve</string>
    </array>
    <key>public.kern2.guillemet_close_cap</key>
    <array>
      <string>guillemotright.cap</string>
      <string>guilsinglright.cap</string>
    </array>
    <key>public.kern2.guillemet_open</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemotleft</string>
    </array>
    <key>public.kern2.guillemet_open_cap</key>
    <array>
      <string>guilsinglleft.cap</string>
      <string>guillemotleft.cap</string>
    </array>
    <key>public.kern2.guillemets_close</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.hyphenCap</key>
    <array>
      <string>hyphen.cap</string>
      <string>endash.cap</string>
      <string>emdash.cap</string>
    </array>
    <key>public.kern2.iaccent</key>
    <array>
      <string>imacron</string>
      <string>idieresis</string>
      <string>ibreve</string>
    </array>
    <key>public.kern2.lc_droites</key>
    <array>
      <string>iogonek</string>
      <string>i</string>
      <string>h</string>
      <string>k</string>
      <string>lcaron</string>
      <string>l</string>
      <string>thorn</string>
      <string>ij</string>
      <string>lacute</string>
      <string>hcircumflex</string>
      <string>lslash</string>
      <string>hbar</string>
      <string>ldot</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>udieresis</string>
      <string>uhungarumlaut</string>
      <string>nacute</string>
      <string>rcaron</string>
      <string>uring</string>
      <string>ugrave</string>
      <string>dotlessj</string>
      <string>dotlessi</string>
      <string>racute</string>
      <string>eng</string>
      <string>utilde</string>
      <string>ntilde</string>
      <string>uogonek</string>
      <string>ucircumflex</string>
      <string>ubreve</string>
      <string>umacron</string>
      <string>uacute</string>
      <string>rcommaaccent</string>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>u</string>
      <string>ncommaaccent</string>
      <string>ncaron</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>ellipsis</string>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.quoteLeft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteRight</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.rondes</key>
    <array>
      <string>cdotaccent</string>
      <string>ograve</string>
      <string>ocircumflex</string>
      <string>schwa</string>
      <string>edieresis</string>
      <string>obreve</string>
      <string>ccedilla</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>eogonek</string>
      <string>otilde</string>
      <string>ccaron</string>
      <string>dcaron</string>
      <string>gcircumflex</string>
      <string>oslash</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gbreve</string>
      <string>cacute</string>
      <string>ecircumflex</string>
      <string>odieresis</string>
      <string>ohungarumlaut</string>
      <string>ebreve</string>
      <string>omacron</string>
      <string>emacron</string>
      <string>ccircumflex</string>
      <string>dcroat</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>oslashacute</string>
      <string>c</string>
      <string>e</string>
      <string>d</string>
      <string>g</string>
      <string>oe</string>
      <string>o</string>
      <string>q</string>
      <string>oacute</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>uni0219</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>uni0163</string>
      <string>tcaron</string>
      <string>t</string>
      <string>uni021B</string>
      <string>tbar</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>wgrave</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>w</string>
      <string>wacute</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>yacute</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>zacute</string>
      <string>z</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
