<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.backgroud.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.background.layerShow</key>
    <true/>
    <key>com.typemytype.robofont.background.layerShowCoordinates</key>
    <false/>
    <key>com.typemytype.robofont.background.layerShowFill</key>
    <false/>
    <key>com.typemytype.robofont.background.layerShowPoints</key>
    <true/>
    <key>com.typemytype.robofont.background.layerShowStroke</key>
    <true/>
    <key>com.typemytype.robofont.background.layerStrokeColor</key>
    <array>
      <real>0.501960813999176</real>
      <real>1.0</real>
      <real>0.0</real>
      <real>1.0</real>
    </array>
    <key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/JBMZ/Documents/PRO/Karrik/desktop/Karrik-italic.otf</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>0.5</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.guideline.magnetic.2Gz2IgMFXi</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.3L7TTC4ZiU</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.3q61xIzR7U</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.8SRTfwREgP</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.dnlKU26WYW</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.fRpUIaFlJM</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.nFuM90waUc</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <real>-74.0</real>
    <key>com.typemytype.robofont.line.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.mask.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>.notdef</string>
          <string>.null</string>
          <string>CR</string>
          <string>space</string>
          <string>thinspace</string>
          <string>uni00AD</string>
          <string>uni00A0</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>Agrave</string>
          <string>Aacute</string>
          <string>Acircumflex</string>
          <string>Atilde</string>
          <string>Adieresis</string>
          <string>Amacron</string>
          <string>Abreve</string>
          <string>Aring</string>
          <string>Aringacute</string>
          <string>Aogonek</string>
          <string>AE</string>
          <string>AEacute</string>
          <string>Cacute</string>
          <string>Ccircumflex</string>
          <string>Ccaron</string>
          <string>Cdotaccent</string>
          <string>Ccedilla</string>
          <string>Dcaron</string>
          <string>Dcroat</string>
          <string>Egrave</string>
          <string>Eacute</string>
          <string>Ecircumflex</string>
          <string>Ecaron</string>
          <string>Edieresis</string>
          <string>Emacron</string>
          <string>Ebreve</string>
          <string>Edotaccent</string>
          <string>Eogonek</string>
          <string>fi.cap</string>
          <string>fl.cap</string>
          <string>Gcircumflex</string>
          <string>Gbreve</string>
          <string>Gdotaccent</string>
          <string>Gcommaaccent</string>
          <string>Hcircumflex</string>
          <string>Hbar</string>
          <string>Igrave</string>
          <string>Iacute</string>
          <string>Icircumflex</string>
          <string>Itilde</string>
          <string>Idieresis</string>
          <string>Imacron</string>
          <string>Ibreve</string>
          <string>Idotaccent</string>
          <string>Iogonek</string>
          <string>IJ</string>
          <string>Jcircumflex</string>
          <string>Kcommaaccent</string>
          <string>Lacute</string>
          <string>Lcaron</string>
          <string>Lcommaaccent</string>
          <string>Lslash</string>
          <string>Ldot</string>
          <string>Nacute</string>
          <string>Ncaron</string>
          <string>Ntilde</string>
          <string>Ncommaaccent</string>
          <string>Ograve</string>
          <string>Oacute</string>
          <string>Ocircumflex</string>
          <string>Otilde</string>
          <string>Odieresis</string>
          <string>Omacron</string>
          <string>Obreve</string>
          <string>Ohungarumlaut</string>
          <string>Oslash</string>
          <string>Oslashacute</string>
          <string>OE</string>
          <string>Racute</string>
          <string>Rcaron</string>
          <string>Rcommaaccent</string>
          <string>germandbls.cap</string>
          <string>Sacute</string>
          <string>Scircumflex</string>
          <string>Scaron</string>
          <string>Scedilla</string>
          <string>uni0218</string>
          <string>Tcaron</string>
          <string>Tbar</string>
          <string>uni0162</string>
          <string>uni021A</string>
          <string>Ugrave</string>
          <string>Uacute</string>
          <string>Ucircumflex</string>
          <string>Utilde</string>
          <string>Udieresis</string>
          <string>Umacron</string>
          <string>Ubreve</string>
          <string>Uring</string>
          <string>Uhungarumlaut</string>
          <string>Uogonek</string>
          <string>Wgrave</string>
          <string>Wacute</string>
          <string>Wcircumflex</string>
          <string>Wdieresis</string>
          <string>Ygrave</string>
          <string>Yacute</string>
          <string>Ycircumflex</string>
          <string>Ydieresis</string>
          <string>Zacute</string>
          <string>Zcaron</string>
          <string>Zdotaccent</string>
          <string>Schwa</string>
          <string>Eng</string>
          <string>Eth</string>
          <string>Thorn</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>agrave</string>
          <string>aacute</string>
          <string>acircumflex</string>
          <string>atilde</string>
          <string>adieresis</string>
          <string>amacron</string>
          <string>abreve</string>
          <string>aring</string>
          <string>aringacute</string>
          <string>aogonek</string>
          <string>ae</string>
          <string>aeacute</string>
          <string>cacute</string>
          <string>ccircumflex</string>
          <string>ccaron</string>
          <string>cdotaccent</string>
          <string>ccedilla</string>
          <string>dcaron</string>
          <string>dcroat</string>
          <string>egrave</string>
          <string>eacute</string>
          <string>ecircumflex</string>
          <string>ecaron</string>
          <string>edieresis</string>
          <string>emacron</string>
          <string>ebreve</string>
          <string>edotaccent</string>
          <string>eogonek</string>
          <string>gcircumflex</string>
          <string>gbreve</string>
          <string>gdotaccent</string>
          <string>gcommaaccent</string>
          <string>hcircumflex</string>
          <string>hbar</string>
          <string>igrave</string>
          <string>iacute</string>
          <string>icircumflex</string>
          <string>itilde</string>
          <string>idieresis</string>
          <string>imacron</string>
          <string>ibreve</string>
          <string>idotaccent</string>
          <string>i.dot</string>
          <string>iogonek</string>
          <string>dotlessi</string>
          <string>ij</string>
          <string>jcircumflex</string>
          <string>dotlessj</string>
          <string>kcommaaccent</string>
          <string>lacute</string>
          <string>lcaron</string>
          <string>lcommaaccent</string>
          <string>lslash</string>
          <string>ldot</string>
          <string>nacute</string>
          <string>ncaron</string>
          <string>ntilde</string>
          <string>ncommaaccent</string>
          <string>ograve</string>
          <string>oacute</string>
          <string>ocircumflex</string>
          <string>otilde</string>
          <string>odieresis</string>
          <string>omacron</string>
          <string>obreve</string>
          <string>ohungarumlaut</string>
          <string>oslash</string>
          <string>oslashacute</string>
          <string>oe</string>
          <string>racute</string>
          <string>rcaron</string>
          <string>rcommaaccent</string>
          <string>sacute</string>
          <string>scircumflex</string>
          <string>scaron</string>
          <string>scedilla</string>
          <string>uni0219</string>
          <string>germandbls</string>
          <string>tcaron</string>
          <string>tbar</string>
          <string>uni0163</string>
          <string>uni021B</string>
          <string>ugrave</string>
          <string>uacute</string>
          <string>ucircumflex</string>
          <string>utilde</string>
          <string>udieresis</string>
          <string>umacron</string>
          <string>ubreve</string>
          <string>uring</string>
          <string>uhungarumlaut</string>
          <string>uogonek</string>
          <string>wgrave</string>
          <string>wacute</string>
          <string>wcircumflex</string>
          <string>wdieresis</string>
          <string>ygrave</string>
          <string>yacute</string>
          <string>ycircumflex</string>
          <string>ydieresis</string>
          <string>zacute</string>
          <string>zcaron</string>
          <string>zdotaccent</string>
          <string>schwa</string>
          <string>eng</string>
          <string>eth</string>
          <string>thorn</string>
          <string>a.superior</string>
          <string>o.superior</string>
          <string>grave</string>
          <string>grave.cap</string>
          <string>acute</string>
          <string>acute.cap</string>
          <string>circumflex</string>
          <string>circumflex.cap</string>
          <string>caron</string>
          <string>caron.cap</string>
          <string>caron.alt</string>
          <string>caron.alt.cap</string>
          <string>tilde</string>
          <string>tilde.cap</string>
          <string>dieresis</string>
          <string>dieresis.cap</string>
          <string>macron</string>
          <string>macron.cap</string>
          <string>breve</string>
          <string>breve.cap</string>
          <string>ring</string>
          <string>ring.cap</string>
          <string>hungarumlaut</string>
          <string>hungarumlaut.cap</string>
          <string>dotaccent</string>
          <string>dotaccent.cap</string>
          <string>cedilla</string>
          <string>cedilla.cap</string>
          <string>ogonek</string>
          <string>ogonek.cap</string>
          <string>commaaccent</string>
          <string>revcommaaccent</string>
          <string>commaaccent.cap</string>
          <string>comma</string>
          <string>semicolon</string>
          <string>colon</string>
          <string>colon.salt</string>
          <string>period</string>
          <string>ellipsis</string>
          <string>hyphen</string>
          <string>hyphen.cap</string>
          <string>exclam</string>
          <string>exclamdown</string>
          <string>exclamdown.cap</string>
          <string>question</string>
          <string>questiondown</string>
          <string>questiondown.cap</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>quotedblleft</string>
          <string>quotedblright</string>
          <string>quotesinglbase</string>
          <string>quotedblbase</string>
          <string>quotesingle</string>
          <string>quotedbl</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>guilsinglleft.cap</string>
          <string>guilsinglright.cap</string>
          <string>guillemotleft</string>
          <string>guillemotright</string>
          <string>guillemotleft.cap</string>
          <string>guillemotright.cap</string>
          <string>slash</string>
          <string>backslash</string>
          <string>bar</string>
          <string>brokenbar</string>
          <string>endash</string>
          <string>endash.cap</string>
          <string>underscore</string>
          <string>emdash</string>
          <string>emdash.cap</string>
          <string>bullet</string>
          <string>periodcentered</string>
          <string>periodcentered.cap</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>parenleft.cap</string>
          <string>parenright.cap</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>bracketleft.cap</string>
          <string>bracketright.cap</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>braceleft.cap</string>
          <string>braceright.cap</string>
          <string>asterisk</string>
          <string>dagger</string>
          <string>daggerdbl</string>
          <string>section</string>
          <string>paragraph</string>
          <string>at</string>
          <string>copyright</string>
          <string>registered</string>
          <string>uni2117</string>
          <string>trademark</string>
          <string>ordfeminine</string>
          <string>ordmasculine</string>
          <string>numero</string>
          <string>numbersign</string>
          <string>Euro</string>
          <string>dollar</string>
          <string>cent</string>
          <string>sterling</string>
          <string>florin</string>
          <string>yen</string>
          <string>zero.slash</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>numbersign.LP</string>
          <string>Euro.LP</string>
          <string>dollar.LP</string>
          <string>cent.LP</string>
          <string>sterling.LP</string>
          <string>florin.LP</string>
          <string>yen.LP</string>
          <string>zero.slashLP</string>
          <string>zero.LP</string>
          <string>one.LP</string>
          <string>two.LP</string>
          <string>three.LP</string>
          <string>four.LP</string>
          <string>five.LP</string>
          <string>six.LP</string>
          <string>seven.LP</string>
          <string>eight.LP</string>
          <string>nine.LP</string>
          <string>circleddigitzero</string>
          <string>circleddigitone</string>
          <string>circleddigittwo</string>
          <string>circleddigitthree</string>
          <string>circleddigitfour</string>
          <string>circleddigitfive</string>
          <string>circleddigitsix</string>
          <string>circleddigitseven</string>
          <string>circleddigiteight</string>
          <string>circleddigitnine</string>
          <string>circleddigitten</string>
          <string>squareddigitzero</string>
          <string>squareddigitone</string>
          <string>squareddigittwo</string>
          <string>squareddigitthree</string>
          <string>squareddigitfour</string>
          <string>squareddigitfive</string>
          <string>squareddigitsix</string>
          <string>squareddigitseven</string>
          <string>squareddigiteight</string>
          <string>squareddigitnine</string>
          <string>squareddigitten</string>
          <string>zerosuperior</string>
          <string>onesuperior</string>
          <string>twosuperior</string>
          <string>threesuperior</string>
          <string>foursuperior</string>
          <string>fivesuperior</string>
          <string>sixsuperior</string>
          <string>sevensuperior</string>
          <string>eightsuperior</string>
          <string>ninesuperior</string>
          <string>fraction</string>
          <string>onequarter</string>
          <string>onehalf</string>
          <string>threequarters</string>
          <string>percent</string>
          <string>perthousand</string>
          <string>plus</string>
          <string>minus</string>
          <string>plusminus</string>
          <string>multiply</string>
          <string>divide</string>
          <string>equal</string>
          <string>notequal</string>
          <string>asciitilde</string>
          <string>approxequal</string>
          <string>asciicircum</string>
          <string>less</string>
          <string>greater</string>
          <string>lessequal</string>
          <string>greaterequal</string>
          <string>logicalnot</string>
          <string>currency</string>
          <string>infinity</string>
          <string>lozenge</string>
          <string>Delta.math</string>
          <string>Omega.math</string>
          <string>partialdiff</string>
          <string>integral</string>
          <string>radical</string>
          <string>summation</string>
          <string>product</string>
          <string>pi</string>
          <string>mu.math</string>
          <string>degree</string>
          <string>estimated</string>
          <string>ampersand</string>
          <string>f_f</string>
          <string>fi</string>
          <string>f_f_i</string>
          <string>fl</string>
          <string>f_f_l</string>
          <string>arrowleft</string>
          <string>arrowup</string>
          <string>arrowright</string>
          <string>arrowdown</string>
          <string>arrowupleft</string>
          <string>arrowupright</string>
          <string>arrowdownleft</string>
          <string>arrowdownright</string>
          <string>uni27F7</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>CR</string>
      <string>space</string>
      <string>thinspace</string>
      <string>uni00AD</string>
      <string>uni00A0</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Aogonek</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>Ccedilla</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Ecaron</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Ebreve</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>fi.cap</string>
      <string>fl.cap</string>
      <string>Gcircumflex</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>Gcommaaccent</string>
      <string>Hcircumflex</string>
      <string>Hbar</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Itilde</string>
      <string>Idieresis</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Idotaccent</string>
      <string>Iogonek</string>
      <string>IJ</string>
      <string>Jcircumflex</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>Ldot</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>Ncommaaccent</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>OE</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>germandbls.cap</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>uni0218</string>
      <string>Tcaron</string>
      <string>Tbar</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Utilde</string>
      <string>Udieresis</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Ygrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Schwa</string>
      <string>Eng</string>
      <string>Eth</string>
      <string>Thorn</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>aogonek</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>ccedilla</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>ecaron</string>
      <string>edieresis</string>
      <string>emacron</string>
      <string>ebreve</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>gcommaaccent</string>
      <string>hcircumflex</string>
      <string>hbar</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>itilde</string>
      <string>idieresis</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>idotaccent</string>
      <string>i.dot</string>
      <string>iogonek</string>
      <string>dotlessi</string>
      <string>ij</string>
      <string>jcircumflex</string>
      <string>dotlessj</string>
      <string>kcommaaccent</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
      <string>ldot</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>ncommaaccent</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>oe</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>uni0219</string>
      <string>germandbls</string>
      <string>tcaron</string>
      <string>tbar</string>
      <string>uni0163</string>
      <string>uni021B</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>utilde</string>
      <string>udieresis</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>wgrave</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>ygrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>schwa</string>
      <string>eng</string>
      <string>eth</string>
      <string>thorn</string>
      <string>a.superior</string>
      <string>o.superior</string>
      <string>grave</string>
      <string>grave.cap</string>
      <string>acute</string>
      <string>acute.cap</string>
      <string>circumflex</string>
      <string>circumflex.cap</string>
      <string>caron</string>
      <string>caron.cap</string>
      <string>caron.alt</string>
      <string>caron.alt.cap</string>
      <string>tilde</string>
      <string>tilde.cap</string>
      <string>dieresis</string>
      <string>dieresis.cap</string>
      <string>macron</string>
      <string>macron.cap</string>
      <string>breve</string>
      <string>breve.cap</string>
      <string>ring</string>
      <string>ring.cap</string>
      <string>hungarumlaut</string>
      <string>hungarumlaut.cap</string>
      <string>dotaccent</string>
      <string>dotaccent.cap</string>
      <string>cedilla</string>
      <string>cedilla.cap</string>
      <string>ogonek</string>
      <string>ogonek.cap</string>
      <string>commaaccent</string>
      <string>revcommaaccent</string>
      <string>commaaccent.cap</string>
      <string>comma</string>
      <string>semicolon</string>
      <string>colon</string>
      <string>colon.salt</string>
      <string>period</string>
      <string>ellipsis</string>
      <string>hyphen</string>
      <string>hyphen.cap</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>exclamdown.cap</string>
      <string>question</string>
      <string>questiondown</string>
      <string>questiondown.cap</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>guilsinglleft.cap</string>
      <string>guilsinglright.cap</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guillemotleft.cap</string>
      <string>guillemotright.cap</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>endash</string>
      <string>endash.cap</string>
      <string>underscore</string>
      <string>emdash</string>
      <string>emdash.cap</string>
      <string>bullet</string>
      <string>periodcentered</string>
      <string>periodcentered.cap</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>parenleft.cap</string>
      <string>parenright.cap</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>bracketleft.cap</string>
      <string>bracketright.cap</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>braceleft.cap</string>
      <string>braceright.cap</string>
      <string>asterisk</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>section</string>
      <string>paragraph</string>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
      <string>uni2117</string>
      <string>trademark</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>numero</string>
      <string>numbersign</string>
      <string>Euro</string>
      <string>dollar</string>
      <string>cent</string>
      <string>sterling</string>
      <string>florin</string>
      <string>yen</string>
      <string>zero.slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>numbersign.LP</string>
      <string>Euro.LP</string>
      <string>dollar.LP</string>
      <string>cent.LP</string>
      <string>sterling.LP</string>
      <string>florin.LP</string>
      <string>yen.LP</string>
      <string>zero.slashLP</string>
      <string>zero.LP</string>
      <string>one.LP</string>
      <string>two.LP</string>
      <string>three.LP</string>
      <string>four.LP</string>
      <string>five.LP</string>
      <string>six.LP</string>
      <string>seven.LP</string>
      <string>eight.LP</string>
      <string>nine.LP</string>
      <string>circleddigitzero</string>
      <string>circleddigitone</string>
      <string>circleddigittwo</string>
      <string>circleddigitthree</string>
      <string>circleddigitfour</string>
      <string>circleddigitfive</string>
      <string>circleddigitsix</string>
      <string>circleddigitseven</string>
      <string>circleddigiteight</string>
      <string>circleddigitnine</string>
      <string>circleddigitten</string>
      <string>squareddigitzero</string>
      <string>squareddigitone</string>
      <string>squareddigittwo</string>
      <string>squareddigitthree</string>
      <string>squareddigitfour</string>
      <string>squareddigitfive</string>
      <string>squareddigitsix</string>
      <string>squareddigitseven</string>
      <string>squareddigiteight</string>
      <string>squareddigitnine</string>
      <string>squareddigitten</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>fraction</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>plus</string>
      <string>minus</string>
      <string>plusminus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>asciitilde</string>
      <string>approxequal</string>
      <string>asciicircum</string>
      <string>less</string>
      <string>greater</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>logicalnot</string>
      <string>currency</string>
      <string>infinity</string>
      <string>lozenge</string>
      <string>Delta.math</string>
      <string>Omega.math</string>
      <string>partialdiff</string>
      <string>integral</string>
      <string>radical</string>
      <string>summation</string>
      <string>product</string>
      <string>pi</string>
      <string>mu.math</string>
      <string>degree</string>
      <string>estimated</string>
      <string>ampersand</string>
      <string>f_f</string>
      <string>fi</string>
      <string>f_f_i</string>
      <string>fl</string>
      <string>f_f_l</string>
      <string>arrowleft</string>
      <string>arrowup</string>
      <string>arrowright</string>
      <string>arrowdown</string>
      <string>arrowupleft</string>
      <string>arrowupright</string>
      <string>arrowdownleft</string>
      <string>arrowdownright</string>
      <string>uni27F7</string>
    </array>
  </dict>
</plist>
