---
import BaseLayout from "~/layouts/baseLayout.astro";

import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
---

<BaseLayout>
  <Header sticky={true} />
  <div class="space-y-24 px-8 py-10">
    <slot />
  </div>
  <Footer />
</BaseLayout>
