---
const { title, desc, param } = Astro.props;
---

<form class="max-w-lg mx-auto">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for={param}>{title}</label>
  <input 
    name={param} 
    aria-describedby="user_avatar_help" 
    id="user_avatar" 
    type="file" 
    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    required
  >
  <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">{desc}</div>
</form>
