---
const { title, param, placeholder} = Astro.props;
---

<div>
  <label class="block mb-2 text-sm font-medium text-white" for="user_avatar">Upload file</label>
  <input aria-describedby="user_avatar_help" id="user_avatar" type="file" required class="block w-full text-sm text-gray-900 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" />
  <div class="mt-1 text-sm text-gray-400" id="user_avatar_help">Upload your CV so that the companies at the event know who you are 👀</div>
</div>

