---
interface Option {
  option: string;
}

interface AstroProps {
  options: Option[];
  title: string;
}

const { options, title } = Astro.props as AstroProps;
---

<form class="max-w-sm mx-auto">
  <label for={title} class="block mb-2 text-sm font-medium text-white dark:text-white">{title}</label>
  <select id={title}
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5">
    {
      options.map(( option ) => (
        <option>{option}</option>
      ))
    }
  </select>
</form>
